* {
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0 10px;
	margin: 20px auto;
	line-height: 1.6;
	font-size: 18px;
	color: #222;
	background-color: #f0f0f0;
}

.dark_mode {
	color: #f0f0f0;
	background-color: #222;
}

h1, h2, h3 {
	line-height: 1.2;
}

a {
	color: #7289DA;
}

.box {
	border: 1px solid black;
	padding: 0 10px;
	margin: 5px 0;
}