{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1 style="text-align: center;">{{board.name}}</h1>

	<form action="/{{board.tag}}/post" method="post" enctype="multipart/form-data">
		<input type="text" name="title" placeholder="Subject" required>
		<br>
		<textarea name="body" placeholder="Write body" rows="4" cols="30" required></textarea>
		<br>
		<button>Create thread</button>
	</form>

	{% for thread in threads %}
		<div class="box">
			<a href="/{{board.tag}}/{{thread.id}}">{{thread.title}}</a> - {{thread.time}}
			<blockquote>{{thread.body}}</blockquote>
		</div>
	{% endfor %}
{% endblock %}