{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>{{title}}</h1>
	<p>Posted at {{time}}</p>
	<p>{{body}}</p>

	<p>{{replies_count}} replies</p>

	<form action="/{{tag}}/{{thread_id}}/reply" method="post" enctype="multipart/form-data">
		<textarea name="body" placeholder="Write your reply..." rows="4" cols="30" required></textarea>
		<br>
		<input type="file" name="files[]" multiple>
		<br>
		<button>Reply</button>
	</form>

	{% block dark_mode %}
		{{ super() }}
	{% endblock %}

	<br>

	{% for reply in replies %}
		<div class="box">
			<p id="{{reply.id}}">Replied on {{reply.time}} &nbsp; ID: {{reply.id}}</p>
			<p>{{reply.body | nl2br}}</p>
		</div>
	{% endfor %}
{% endblock %}